h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

h2 {
  color: #7c8087;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.body {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  line-height: 27px;
}

.div-block {
  width: 90%;
  max-width: 1500px;
  min-height: 75vh;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.div-block.flex-horizontal {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.navbar {
  background-color: #171b2e;
  border-bottom: 1px solid #e8e8e8;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar.transparent-bg {
  background-color: rgba(0, 0, 0, 0);
}

.link {
  color: #2c3131;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

.nav-link-3 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.btn-cta-header2 {
  color: #fff;
  background-color: #1d4ed8;
  border: 1px solid #2752e7;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.btn-cta-header2:hover {
  color: #fff;
  background-color: rgba(39, 82, 231, .8);
}

.container-4 {
  width: 100%;
  max-width: 1500px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.nav-menu-3 {
  margin-left: auto;
  margin-right: auto;
}

.text-block-16 {
  color: #007fdb;
  font-size: 25px;
  font-weight: 700;
  line-height: 37.5px;
}

.btn-cta-header2-signin {
  color: #1d4ed8;
  background-color: #fff;
  border: 1px solid #2752e7;
  border-radius: 10px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.btn-cta-header2-signin:hover {
  color: #1d4ed8;
  background-color: #eee;
}

.section {
  background-color: #171b2e;
  background-image: url('../images/Union.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.section.hide-bg-element {
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
}

.section.pricing-bg {
  background-image: url('../images/Group-1000003603.png');
  background-position: -20% -150px;
  background-repeat: no-repeat;
  background-size: 50%;
}

.div-block-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  margin-bottom: 25px;
  display: flex;
}

.div-block-3 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  display: flex;
}

.div-block-4 {
  width: 120%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-4.lwft {
  align-items: flex-start;
}

.heading {
  width: 100%;
  color: #fff;
  font-size: 60px;
  line-height: 82px;
}

.text-block-17 {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 50px;
}

.text-block-17.center {
  max-width: 700px;
  text-align: center;
}

.div-block-5 {
  width: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  background-color: #1d4ed8;
  border-radius: 15px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 40px;
  display: flex;
  position: absolute;
  bottom: -64px;
}

.div-block-5.hide {
  display: none;
}

.image-56 {
  height: 50px;
}

.div-block-6 {
  width: 90%;
  max-width: 1500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
}

.div-block-7 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-8 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block-8.max-width {
  max-width: 550px;
}

.div-block-8.max-width._770 {
  max-width: 770px;
}

.div-block-9 {
  width: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-10 {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 25px 20px;
}

.image-57 {
  height: 50px;
}

.text-block-18 {
  color: #000;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.text-block-19 {
  color: #000;
  margin-top: 10px;
}

.div-block-11 {
  align-items: center;
  margin-top: 35px;
  display: flex;
}

.image-58 {
  margin-right: 15px;
}

.text-block-20 {
  color: #000;
  font-weight: 500;
}

.text-block-20:hover {
  color: #333;
}

.text-block-21 {
  color: #1d4ed8;
  background-color: #eef4ff;
  border-radius: 20px;
  padding: 10px 40px;
  font-weight: 700;
  line-height: 21px;
}

.heading-2 {
  margin-top: 20px;
  font-size: 48px;
  line-height: 55px;
}

.heading-2.center {
  text-align: center;
}

.text-block-22 {
  margin-top: 25px;
  font-weight: 500;
  line-height: 21px;
}

.text-block-22:hover {
  color: #171b2e;
}

.div-block-12 {
  width: 90%;
  max-width: 1500px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.section-2 {
  background-color: #f9f9f9;
}

.section-2.princing-bg {
  background-image: url('../images/Group-1000003737.png');
  background-position: 50% 100%;
  background-size: 80%;
}

.section-2.princing-bg.hide, .section-2.hide {
  display: none;
}

.div-block-13 {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: space-between;
  display: flex;
}

.div-block-14 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-23.center {
  text-align: center;
}

.text-block-23.aaa {
  width: 100%;
  text-align: center;
}

.div-block-15 {
  width: 90%;
  max-width: 1500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 250px;
  display: flex;
}

.div-block-15.hidden-send-offering {
  padding-bottom: 100px;
}

.section-3 {
  background-color: #f9f9f9;
}

.section-3.white {
  background-color: #fff;
}

.section-3.hide {
  display: none;
}

.heading-3 {
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 62px;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
  margin-bottom: 100px;
}

.slide-nav {
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: -100px;
}

.icon-4, .icon-5 {
  width: 20px;
  height: 20px;
  color: #1d4ed8;
  font-size: 20px;
  line-height: 20px;
}

.left-arrow {
  width: 50px;
  height: 50px;
  top: auto;
  bottom: -100px;
  left: -200px;
  right: 0%;
}

.right-arrow {
  width: 50px;
  height: 50px;
  top: auto;
  bottom: -100px;
  left: 0%;
  right: -200px;
}

.mask, .slide {
  height: 100%;
}

.div-block-16 {
  width: 50%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block-17 {
  width: 40%;
  display: flex;
}

.div-block-17-copy {
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.image-59 {
  width: 100%;
  object-fit: cover;
}

.div-block-18 {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.text-block-24 {
  color: #202020;
  margin-top: 15px;
}

.text-block-25 {
  color: #202020;
  text-transform: uppercase;
  margin-top: 25px;
  font-weight: 700;
}

.text-block-26 {
  color: gray;
  font-size: 14px;
}

.div-block-19 {
  width: 90%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 50px;
  position: relative;
}

.div-block-19.hidden-send-offering {
  padding-top: 50px;
}

.section-4 {
  background-color: #171b2e;
  background-image: url('../images/Ellipse-283.png');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.send-you-offering {
  width: 80%;
  height: 250px;
  background-color: #1d4ed8;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 40px;
  display: flex;
  position: absolute;
  top: -125px;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.send-you-offering.hide {
  display: none;
}

.heading-4 {
  color: #fff;
  text-align: center;
  letter-spacing: .005em;
  font-size: 48px;
  line-height: 56px;
}

.form {
  align-items: center;
  display: flex;
}

.text-field {
  height: 45px;
  border-radius: 8px;
  margin-bottom: 0;
  margin-right: 25px;
}

.submit-button {
  height: 45px;
  letter-spacing: .005em;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 8px;
  font-weight: 700;
  line-height: 19px;
}

.submit-button:hover {
  background-color: rgba(23, 27, 46, .8);
  border-color: #171b2e;
}

.form-block {
  width: 80%;
  margin-top: 25px;
}

.image-60 {
  height: 150px;
  position: absolute;
  top: -75px;
  bottom: auto;
  left: -50px;
  right: auto;
}

.image-60-copy {
  height: 150px;
  position: absolute;
  top: auto;
  bottom: -75px;
  left: auto;
  right: -50px;
}

.div-block-21 {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  border-bottom: 2px solid #71777d;
  justify-content: space-between;
  margin-top: 25px;
  padding-bottom: 50px;
  display: flex;
}

.div-block-22 {
  width: 65%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-23 {
  width: 35%;
}

.text-block-27 {
  max-width: 75%;
  color: #92989f;
  letter-spacing: .3px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.div-block-24 {
  flex-direction: column;
  margin-top: 15px;
  display: flex;
}

.link-2 {
  color: #fff;
  letter-spacing: .3px;
  line-height: 40px;
  text-decoration: none;
}

.form-2 {
  margin-top: 25px;
  display: flex;
}

.text-block-28 {
  max-width: 75%;
  color: #fff;
  letter-spacing: .3px;
  margin-top: 25px;
}

.text-field-2 {
  height: 45px;
  background-color: #d9d9d9;
  border-bottom: 0 solid #000;
  margin-bottom: 0;
}

.submit-button-2 {
  width: 45px;
  height: 45px;
  background-color: #d9d9d9;
  background-image: url('../images/Vector.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 0 solid #000;
}

.div-block-25 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  display: flex;
}

.text-block-29 {
  color: #f0f4ff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.form-block-2 {
  max-width: 75%;
}

.div-block-26 {
  display: none;
}

.btn-cta-header2-signin-copy {
  color: #1d4ed8;
  background-color: #fff;
  border: 1px solid #2752e7;
  border-radius: 10px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.btn-cta-header2-signin-copy:hover {
  color: #1d4ed8;
  background-color: #eee;
}

.btn-cta-header2-copy {
  color: #fff;
  background-color: #1d4ed8;
  border: 1px solid #2752e7;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.btn-cta-header2-copy:hover {
  color: #fff;
  background-color: rgba(39, 82, 231, .8);
}

.btn-cta-header2-hero {
  color: #fff;
  background-color: #1d4ed8;
  border: 1px solid #2752e7;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.btn-cta-header2-hero:hover {
  color: #fff;
  background-color: rgba(39, 82, 231, .8);
}

.text-block-30.center {
  max-width: 1000px;
  text-align: center;
}

.text-block-30.top {
  margin-top: 25px;
}

.div-block-29 {
  width: 90%;
  max-width: 1500px;
  min-height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.heading-5 {
  color: #005abd;
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 48px;
  line-height: 48px;
}

.text-block-31 {
  max-width: 700px;
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
  line-height: 26px;
}

.div-block-30 {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 15px;
  padding: 50px;
  display: flex;
  box-shadow: 4px 4px 17px rgba(0, 0, 0, .08);
}

.div-block-31 {
  width: 100%;
  max-width: 1200px;
  background-image: url('../images/Group-1000003602.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 95% 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.form-block-3 {
  width: 100%;
  margin-bottom: 0;
}

.text-field-3 {
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 20px;
}

.text-field-3._1 {
  margin-top: 0;
}

.submit-button-3 {
  width: 100%;
  color: #fff;
  background-color: #2684ff;
  background-image: url('../images/Arrow-1.svg');
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
}

.checkbox-label {
  color: #666;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.link-3 {
  color: #2684ff;
  text-decoration: none;
}

.checkbox-field {
  align-items: center;
  display: flex;
}

.checkbox {
  margin-top: 0;
}

.div-block-32 {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.image-61 {
  z-index: -1;
  height: 120px;
  position: absolute;
  top: -60px;
  bottom: auto;
  left: -60px;
  right: auto;
}

.image-61-2 {
  z-index: -1;
  height: 120px;
  position: absolute;
  top: auto;
  bottom: -60px;
  left: auto;
  right: -60px;
}

.div-block-33 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-about-us {
  color: #fff;
  font-size: 60px;
  line-height: 82px;
}

.text-block-17-about-us {
  width: 70%;
  color: #fff;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.image-62 {
  max-width: 1000px;
  margin-top: -150px;
  margin-bottom: -100px;
}

.div-block-about-us {
  width: 90%;
  max-width: 1500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.div-block-34 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.div-block-35 {
  margin-top: 25px;
}

.div-block-36 {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.image-63 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.text-block-32 {
  font-size: 24px;
  font-weight: 700;
}

.image-64 {
  height: 100%;
}

.div-block-7-about-us {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
  display: flex;
}

.div-block-8-about-us {
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block-34-about-us {
  width: 55%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.f9f9f9 {
  background-color: #f9f9f9;
}

.transparent-section.background-blur {
  background-image: url('../images/Group-1000003603.png');
  background-position: -25%;
  background-repeat: no-repeat;
  background-size: 50%;
}

.div-block-14-about-us {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-14-about-us._50 {
  margin-top: 50px;
}

.heading-pricing {
  width: 100%;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 96px;
  line-height: 96px;
}

.text-block-17-pricing {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.div-block-pricing {
  width: 90%;
  max-width: 1500px;
  min-height: 75vh;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}

.div-block-pricing.flex-horizontal {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.div-block-pricing._900 {
  padding-bottom: 200px;
}

.heading-6 {
  color: #fff;
}

.heading-7 {
  color: #fff;
  font-size: 64px;
  line-height: 63px;
}

.div-block-2-pricing {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}

.tab-link {
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #eef4ff;
  border-radius: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  display: flex;
}

.tab-link.w--current {
  background-color: #1d4ed8;
}

.tabs {
  width: 80%;
}

.tabs-menu {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: space-between;
  display: flex;
}

.heading-8 {
  max-width: 700px;
  text-align: center;
  font-size: 64px;
  line-height: 63px;
}

.div-block-12-pricing {
  width: 90%;
  max-width: 1500px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.div-block-37 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
}

.div-block-38 {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 13px;
  padding: 40px 20px;
  box-shadow: 4px 4px 96px rgba(32, 57, 196, .1);
}

.text-block-33 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.text-block-34 {
  color: #193b88;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
  line-height: 83px;
}

.text-block-35 {
  text-align: center;
}

.div-block-12-copy, .div-block-12-blogs-head {
  width: 90%;
  max-width: 1500px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.section-5 {
  background-image: url('../images/Group-1000003603.png');
  background-position: 180%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.section-5.hide {
  display: none;
}

.image-65 {
  width: 100%;
  max-width: 700px;
}

.div-block-31-thank-you {
  width: 100%;
  max-width: 1200px;
  background-image: url('../images/Group-1000003602.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 95% 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
  margin-bottom: 50px;
  padding-top: 0;
  padding-bottom: 50px;
  display: flex;
}

.text-block-36 {
  color: #fff;
  margin-top: 25px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.div-block-our-mission {
  width: 90%;
  max-width: 1500px;
  min-height: 75vh;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.div-block-our-mission.flex-horizontal {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.div-block-2-our-mission {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  margin-bottom: 25px;
  display: flex;
}

.heading-our-mission {
  color: #fff;
  font-size: 60px;
  line-height: 82px;
}

.text-block-36-our-misison {
  color: #fff;
  margin-top: 25px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.div-block-87 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #f9f9f9;
  border-radius: 16px;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0;
  display: flex;
}

.text-block-4 {
  color: #263238;
  letter-spacing: -.85px;
  margin-top: 10px;
  font-family: PT Sans, sans-serif;
  font-size: 39px;
  font-weight: 700;
  line-height: 39px;
}

.text-block-4.hz {
  color: #1d293f;
  font-size: 32px;
  line-height: 36px;
}

.text-block-4.hz._50 {
  margin-top: 25px;
  font-size: 41px;
  line-height: 45px;
}

.text-block-4.hz.small {
  font-size: 16px;
  line-height: 20px;
}

.image-14 {
  width: 100%;
}

.image-14.horizontal {
  height: 100%;
  object-fit: cover;
}

.div-block-89 {
  align-items: center;
  margin-top: 15px;
  display: flex;
}

.div-block-90 {
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.div-block-90._50 {
  margin-top: 25px;
}

.text-block-5 {
  color: #263238;
  font-family: PT Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.text-block-5.hz {
  font-size: 13px;
  line-height: 17px;
}

.text-block-5.hz.small {
  font-size: 8px;
  line-height: 10px;
}

.div-block-88 {
  width: 100%;
}

.div-block-88.horizontal {
  margin-bottom: 10px;
  display: flex;
}

.div-block-88.horizontal.bg {
  background-image: url('../images/Group-1000003693_1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 1px solid #d1d3d4;
  padding-top: 50px;
  padding-bottom: 50px;
}

.div-block-88.horizontal.right-box {
  border: 1px solid #d1d3d4;
  margin-top: 25px;
  padding: 10px;
}

.div-block-88.horizontal.down {
  border-bottom: 1px solid #c4c4c4;
  margin-right: -50px;
  padding-bottom: 50px;
  padding-right: 10px;
}

.div-block-88.horizontal.down._2 {
  border-bottom-width: 0;
  padding-top: 50px;
}

.text-block-3 {
  color: #263238;
  margin-left: 10px;
  font-family: PT Sans, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
}

.text-block-3.hz {
  font-size: 13px;
  line-height: 17px;
}

.text-block-3.hz.small {
  font-size: 8px;
  line-height: 10px;
}

.text-block-6 {
  color: #263238;
  font-family: PT Sans, sans-serif;
  font-size: 16px;
}

.text-block-6.hz {
  color: #c4c4c4;
  font-size: 11px;
  line-height: 14px;
}

.text-block-6.hz.small {
  font-size: 7px;
  line-height: 10px;
}

.div-block-91 {
  margin-right: 10px;
}

.div-block-91.hz {
  width: 50px;
  height: 50px;
}

.text-block-2 {
  color: #fff;
  text-align: center;
  background-color: #377dff;
  border-radius: 25px;
  padding: 5px 25px;
  font-family: PT Sans, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
}

.text-block-2.horizontal {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 23px;
}

.text-block-2.horizontal.small {
  background-color: #1d4ed8;
  font-size: 8px;
  line-height: 10px;
}

.text-block-2.primary {
  color: #295266;
  background-color: #dff4ff;
}

.div-block-92 {
  width: 100%;
  padding-right: 20px;
}

.div-block-92._50 {
  width: 50%;
}

.section-5-blogs {
  background-color: #f9f9f9;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
}

.section-5-blogs.white {
  background-color: #fff;
}

.div-block-blogs {
  width: 90%;
  max-width: 1500px;
  min-height: 0;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.div-block-blogs.flex-horizontal {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.div-block-2-blogs {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}

.div-block-93 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.slider-2 {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.slide-nav-2 {
  display: none;
}

.left-arrow-2 {
  width: 50px;
  height: 50px;
  top: auto;
  bottom: -100px;
  left: -75px;
  right: 0%;
}

.right-arrow-2 {
  width: 50px;
  height: 50px;
  top: auto;
  bottom: -100px;
  left: 0%;
  right: -75px;
}

.div-block-94 {
  width: 100%;
}

.div-block-94.bg {
  background-image: url('../images/Group-1000003693_1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.div-block-95 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.div-block-96 {
  max-width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.paragraph {
  color: #000;
  margin-top: 24px;
}

.button {
  width: 150px;
  background-color: #1d4ed8;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: 19px;
  line-height: 24px;
  display: flex;
}

.button:hover {
  background-color: rgba(29, 78, 216, .8);
}

.div-block-4-blogs {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block-12-blogs {
  width: 90%;
  max-width: 1500px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 150px;
  display: flex;
}

.div-block-iblog {
  width: 90%;
  max-width: 1500px;
  min-height: 0;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  position: relative;
}

.div-block-iblog.flex-horizontal {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.div-block-98 {
  width: 90%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.div-block-99 {
  width: 60%;
  border-bottom: 1px solid #c4c4c4;
  padding: 10px 50px 0 0;
}

.div-block-100 {
  width: 40%;
  border: 1px solid #c4c4c4;
  padding: 20px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.search {
  display: flex;
}

.search-input {
  height: 45px;
  text-align: center;
  border-radius: 40px;
  margin-bottom: 0;
}

.search-button {
  width: 70px;
  height: 45px;
  background-color: #1d4ed8;
  background-image: url('../images/akar-icons_search.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 40px;
  margin-left: -40px;
}

.div-block-101 {
  margin-top: 15px;
}

.text-block-37 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.text-block-38 {
  color: #c4c4c4;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 20px;
}

.text-block-39 {
  color: #000;
  line-height: 20px;
}

.div-block-102 {
  width: 80%;
}

.rich-text-block {
  line-height: 24px;
}

.div-block-103 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.div-block-104 {
  justify-content: space-between;
  display: flex;
}

.image-67 {
  width: 25px;
  height: 25px;
}

.link-block {
  margin-right: 15px;
}

.image-68 {
  width: 100%;
  margin-top: 25px;
}

.heading-9 {
  color: #1d293f;
  margin-top: 35px;
  font-size: 43px;
  line-height: 48px;
}

.paragraph-2 {
  color: #7c8087;
  margin-top: 25px;
  font-size: 20px;
  line-height: 26px;
}

.div-block-105 {
  border-bottom: 1px solid #c4c4c4;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-right: -50px;
  padding-bottom: 50px;
  padding-right: 50px;
  display: flex;
}

.image-69 {
  margin-right: 10px;
}

.div-block-106 {
  align-items: center;
  display: flex;
}

.text-block-40 {
  color: #7c8087;
  font-size: 25px;
  line-height: 36px;
}

.text-block-41 {
  margin-right: 50px;
}

.div-block-107 {
  border-bottom: 1px solid #c4c4c4;
  margin-right: -50px;
  padding-bottom: 50px;
  padding-right: 50px;
}

.div-block-107._2 {
  border-bottom-width: 0;
}

.image-71 {
  margin-top: 50px;
}

.image-72 {
  max-width: 500px;
}

.text-block-42 {
  color: #000;
  text-align: center;
  margin-bottom: 100px;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
}

.section-6 {
  background-color: #fff;
}

.div-block-108 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: space-between;
  display: flex;
}

.image-73 {
  max-width: 25%;
}

.form-block-4 {
  width: 100%;
  max-width: 500px;
}

.form-3 {
  display: flex;
}

.text-field-4 {
  height: 45px;
  border-radius: 10px;
  margin-bottom: 0;
  margin-right: 15px;
}

.div-block-109 {
  width: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
}

.div-block-110 {
  width: 100%;
}

.image-74 {
  width: 50px;
}

.div-block-111 {
  width: 50%;
}

.image-5 {
  width: 50px;
  height: 50px;
}

.div-block-480 {
  grid-column-gap: 25px;
  align-items: center;
  display: flex;
}

.text-block-43 {
  color: #fff;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.div-block-481 {
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.link-block-3 {
  margin-right: 25px;
}

.div-block-482 {
  z-index: 1;
  justify-content: space-between;
  display: flex;
}

.div-block-483 {
  max-width: 55%;
}

.link-4 {
  color: #fff;
  text-decoration: none;
}

.div-block-484 {
  width: 90%;
  max-width: 1500px;
  min-height: 85vh;
  background-image: url('../images/Group-1000004343.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.div-block-485 {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.html-embed {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
}

.div-block-486 {
  min-height: 50vh;
  background-image: url('../images/Group-1000004343.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.div-block-487 {
  width: 100%;
  max-width: 800px;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 40px;
  position: relative;
}

.image-75 {
  z-index: -1;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.image-76 {
  z-index: -1;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.div-block-488 {
  width: 90%;
  max-width: 1500px;
  min-height: 85vh;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-block-44 {
  color: #000;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 83px;
}

.html-embed-2 {
  margin-top: 50px;
}

@media screen and (min-width: 1280px) {
  .container-4 {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    position: relative;
  }
}

@media screen and (min-width: 1440px) {
  .btn-cta-header2 {
    border-style: solid;
  }

  .container-4 {
    width: 100%;
    max-width: 100%;
  }

  .btn-cta-header2-signin, .btn-cta-header2-signin-copy, .btn-cta-header2-copy, .btn-cta-header2-hero {
    border-style: solid;
  }
}

@media screen and (min-width: 1920px) {
  .text-block-4 {
    font-size: 60px;
    line-height: 65px;
  }
}

@media screen and (max-width: 991px) {
  .div-block {
    min-height: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .brand-2 {
    margin-right: auto;
  }

  .brand-2.w--current {
    margin-top: 15px;
    margin-right: auto;
  }

  .nav-link-3 {
    padding: 15px 10px;
  }

  .menu-button-3 {
    width: 30px;
    height: 37.5px;
    margin-left: 0;
    margin-right: 20px;
    padding: 0;
  }

  .menu-button-3.w--open {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }

  .btn-cta-header2 {
    width: 120px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: none;
  }

  .container-4 {
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-menu-3 {
    flex: 0 auto;
    margin-top: 20px;
    margin-right: 0;
    display: flex;
  }

  .icon-3 {
    display: none;
  }

  .btn-cta-header2-signin {
    width: 120px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: none;
  }

  .div-block-2.pricing {
    flex-direction: column;
    align-items: center;
  }

  .div-block-4 {
    width: 100%;
  }

  .heading {
    width: 100%;
    font-size: 36px;
    line-height: 42px;
  }

  .text-block-17 {
    font-size: 14.5px;
  }

  .div-block-5 {
    display: none;
  }

  .div-block-6 {
    padding-top: 100px;
  }

  .div-block-7 {
    flex-direction: column;
  }

  .heading-2 {
    font-size: 32px;
    line-height: 40px;
  }

  .div-block-12 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section-2.princing-bg {
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .div-block-13 {
    flex-direction: column;
  }

  .div-block-13.vertical-reverse {
    flex-direction: column-reverse;
  }

  .heading-3 {
    font-size: 32px;
  }

  .div-block-16 {
    width: 100%;
  }

  .send-you-offering {
    width: 95%;
  }

  .heading-4 {
    font-size: 40px;
  }

  .image-60 {
    height: 100px;
    top: -50px;
    left: -30px;
  }

  .image-60-copy {
    height: 100px;
    bottom: -50px;
    right: -30px;
  }

  .div-block-21 {
    flex-direction: column;
  }

  .div-block-22, .div-block-23 {
    width: 100%;
  }

  .text-block-27, .text-block-28, .form-block-2 {
    max-width: 100%;
  }

  .div-block-26 {
    justify-content: flex-end;
    display: none;
  }

  .btn-cta-header2-signin-copy {
    width: 90px;
    text-align: center;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .btn-cta-header2-copy, .btn-cta-header2-hero {
    width: 120px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-30 {
    font-size: 14.5px;
  }

  .div-block-29 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .heading-about-us {
    font-size: 36px;
    line-height: 42px;
  }

  .text-block-17-about-us {
    font-size: 14.5px;
  }

  .image-62 {
    width: 100%;
    margin-top: -100px;
    margin-bottom: -80px;
  }

  .div-block-about-us {
    padding-top: 100px;
  }

  .div-block-35 {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .image-63 {
    width: 50px;
    height: 50px;
  }

  .text-block-32 {
    font-size: 20px;
    line-height: 24px;
  }

  .div-block-7-about-us {
    flex-direction: column;
  }

  .div-block-8-about-us, .div-block-34-about-us {
    width: 100%;
  }

  .heading-pricing {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
  }

  .text-block-17-pricing {
    max-width: 70%;
    text-align: center;
    font-size: 14.5px;
  }

  .div-block-pricing {
    min-height: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .heading-7 {
    font-size: 35px;
    line-height: 35px;
  }

  .div-block-2-pricing {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .tab-link {
    font-size: 14px;
  }

  .tabs {
    width: 100%;
  }

  .heading-8 {
    font-size: 48px;
  }

  .div-block-12-pricing {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .div-block-37 {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .div-block-12-copy, .div-block-12-blogs-head {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section-5 {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
  }

  .image-65 {
    width: 100%;
  }

  .div-block-31-thank-you {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .image-66 {
    position: static;
  }

  .div-block-our-mission {
    min-height: 0;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .div-block-2-our-mission {
    flex-direction: column;
    margin-bottom: 0;
  }

  .div-block-2-our-mission.pricing {
    flex-direction: column;
    align-items: center;
  }

  .heading-our-mission {
    width: 100%;
    font-size: 36px;
    line-height: 42px;
  }

  .div-block-87 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .text-block-2 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .section-5-blogs {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
  }

  .div-block-blogs {
    min-height: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .div-block-2-blogs {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div-block-12-blogs {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .div-block-iblog {
    min-height: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .div-block-108 {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .image-73 {
    width: 20%;
  }

  .div-block-109 {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-direction: column;
    align-items: flex-start;
  }

  .div-block-111 {
    width: 100%;
  }

  .div-block-480 {
    width: 150px;
    grid-row-gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-block-43 {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link-3 {
    text-align: center;
  }

  .menu-button-3, .menu-button-3.w--open {
    margin-right: 10px;
  }

  .container-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-menu-3 {
    background-color: #1d4ed8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
  }

  .image-55 {
    display: inline-block;
  }

  .div-block-2 {
    flex-direction: column;
  }

  .heading {
    width: 100%;
  }

  .text-block-17 {
    text-align: center;
  }

  .div-block-9 {
    flex-direction: column;
    display: flex;
  }

  .div-block-26 {
    display: none;
  }

  .btn-cta-header2-hero {
    margin-left: auto;
    margin-right: auto;
  }

  .div-block-31 {
    width: 85%;
  }

  .form-block-3 {
    margin-bottom: 0;
  }

  .text-field-3._1 {
    margin-top: 0;
  }

  .heading-about-us {
    text-align: center;
  }

  .image-62 {
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .heading-pricing {
    width: 100%;
  }

  .heading-7 {
    text-align: center;
  }

  .div-block-2-pricing {
    flex-direction: column;
  }

  .tabs-menu {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .div-block-37 {
    width: 60%;
    flex-direction: column;
    display: flex;
  }

  .image-65 {
    width: 100%;
  }

  .div-block-31-thank-you {
    width: 85%;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .image-66 {
    width: 100%;
  }

  .div-block-2-our-mission {
    flex-direction: column;
  }

  .heading-our-mission {
    width: 100%;
    text-align: center;
  }

  .text-block-36-our-misison {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }

  .div-block-88.horizontal {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .div-block-88.horizontal.bg {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
  }

  .div-block-91 {
    max-width: 50px;
  }

  .div-block-92._50 {
    width: 100%;
    padding-right: 0;
  }

  .div-block-2-blogs {
    flex-direction: column;
  }

  .left-arrow-2, .right-arrow-2 {
    bottom: -50px;
  }

  .div-block-96 {
    width: 100%;
    max-width: 100%;
  }

  .div-block-4-blogs {
    align-items: center;
  }

  .div-block-97, .div-block-111 {
    margin-bottom: 50px;
  }

  .div-block-480, .text-block-43 {
    width: 100%;
  }

  .div-block-482 {
    z-index: 1;
    flex-direction: column;
    position: relative;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 20px;
    line-height: 24px;
  }

  .link {
    margin-right: 5px;
    font-size: 12px;
  }

  .brand-2 {
    padding-left: 0;
  }

  .brand-2.w--current {
    width: 50%;
  }

  .menu-button-3 {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .menu-button-3.w--open {
    margin-right: 20px;
  }

  .btn-cta-header2 {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .container-4 {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-16 {
    font-size: 20px;
    line-height: 20px;
  }

  .btn-cta-header2-signin {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .div-block-3, .div-block-14 {
    margin-top: 25px;
  }

  .div-block-16 {
    flex-direction: column;
  }

  .div-block-17, .div-block-17-copy {
    width: 100%;
  }

  .div-block-19 {
    position: static;
  }

  .section-4 {
    position: relative;
  }

  .send-you-offering {
    width: 100%;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-4 {
    font-size: 30px;
    line-height: 36px;
  }

  .form {
    flex-direction: column;
    align-items: stretch;
  }

  .text-field {
    margin-right: 0;
  }

  .submit-button {
    margin-top: 15px;
  }

  .form-block {
    width: 100%;
  }

  .image-60, .image-60-copy {
    display: none;
  }

  .div-block-22 {
    flex-direction: column;
    display: flex;
  }

  .div-block-23 {
    margin-top: 25px;
  }

  .btn-cta-header2-signin-copy, .btn-cta-header2-copy, .btn-cta-header2-hero {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
  }

  .div-block-27 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .div-block-28 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .div-block-29 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .heading-5 {
    font-size: 36px;
    line-height: 42px;
  }

  .text-block-31 {
    font-size: 16px;
    line-height: 20px;
  }

  .div-block-30 {
    padding: 20px;
  }

  .div-block-31 {
    width: 90%;
  }

  .image-61 {
    height: 60px;
    top: -30px;
    left: -30px;
  }

  .image-61-2 {
    height: 60px;
    bottom: -30px;
    right: -30px;
  }

  .text-block-17-about-us {
    width: 100%;
  }

  .image-62 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .div-block-35 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div-block-36 {
    margin-bottom: 10px;
  }

  .image-63 {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .text-block-32 {
    font-size: 15px;
    line-height: 20px;
  }

  .div-block-34-about-us {
    margin-top: 25px;
  }

  .transparent-section.background-blur {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto;
  }

  .div-block-14-about-us {
    margin-top: 25px;
  }

  .tab-link {
    font-size: 12px;
  }

  .heading-8 {
    font-size: 36px;
    line-height: 48px;
  }

  .div-block-37 {
    width: 80%;
  }

  .text-block-33 {
    font-size: 20px;
    line-height: 24px;
  }

  .text-block-34 {
    font-size: 48px;
    line-height: 64px;
  }

  .div-block-12-blogs-head {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .div-block-31-thank-you {
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .image-66 {
    width: 100%;
  }

  .text-block-36-our-misison {
    font-size: 26px;
  }

  .div-block-87 {
    padding-left: 0;
    padding-right: 0;
  }

  .text-block-4 {
    font-size: 25px;
    line-height: 35px;
  }

  .text-block-4.hz {
    font-size: 20px;
    line-height: 24px;
  }

  .text-block-4.hz._50 {
    font-size: 30px;
    line-height: 40px;
  }

  .image-15 {
    width: 50%;
  }

  .div-block-89 {
    flex-direction: row;
    align-items: center;
  }

  .div-block-89._2 {
    flex-direction: row;
  }

  .text-block-5 {
    font-size: 13px;
  }

  .text-block-3 {
    margin-top: 10px;
    margin-left: 0;
  }

  .text-block-3.hz {
    margin-left: 15px;
  }

  .text-block-3.hz.small {
    margin-top: 0;
  }

  .div-block-92 {
    padding-right: 0;
  }

  .left-arrow-2, .right-arrow-2 {
    bottom: -50px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 20px;
  }

  .div-block-4-blogs {
    align-items: center;
  }

  .div-block-12-blogs {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .div-block-98 {
    flex-direction: column-reverse;
  }

  .div-block-99 {
    width: 100%;
    padding-right: 0;
  }

  .div-block-100 {
    width: 100%;
  }

  .div-block-103 {
    flex-direction: column;
    align-items: flex-start;
  }

  .div-block-104 {
    margin-top: 25px;
  }

  .heading-9 {
    font-size: 20px;
    line-height: 24px;
  }

  .paragraph-2 {
    font-size: 14px;
    line-height: 20px;
  }

  .div-block-105 {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    padding-right: 0;
  }

  .div-block-107 {
    margin-right: 0;
    padding-right: 0;
  }

  .heading-10 {
    font-size: 14px;
  }

  .image-72 {
    width: 100%;
  }

  .div-block-108 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .div-block-483 {
    max-width: 85%;
  }

  .text-block-44 {
    font-size: 32px;
    line-height: 50px;
  }
}

#w-node-cfd1ab3f-e4ee-12b0-87c9-235764527c63-86f0fbd5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c5a21f1d-a852-346d-01cf-2e978ce79ce7-86f0fbd5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_02f3b223-9a86-7c1f-e8c3-67a1517e56e2-86f0fbd5, #w-node-_1b0a3c5e-a0e4-b9c5-7738-09cd58d0d156-86f0fbd5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


